formato-template-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Formato">
					<xs:complexType>
						<xs:attribute name="NombreArea" use="required" type="xs:string"/>
						<xs:attribute name="HomoClave" use="required" type="xs:int"/>
						<xs:attribute name="FolioSolicitud" use="required" type="xs:string"/>
						<xs:attribute name="FechaSolicitudMes" use="required" type="xs:byte"/>
						<xs:attribute name="FechaSolicitudDia" use="required" type="xs:byte"/>
						<xs:attribute name="FechaSolicitudAno" use="required" type="xs:short"/>
						<xs:attribute name="FechaPublicacionMes" use="required" type="xs:byte"/>
						<xs:attribute name="FechaPublicacionDia" use="required" type="xs:byte"/>
						<xs:attribute name="FechaPublicacionAno" use="required" type="xs:short"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Solicitante">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Informacion">
								<xs:complexType>
									<xs:attribute name="SexoMujer" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="SexoHombre" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="x"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="SegundoApellido" use="required" type="xs:string"/>
									<xs:attribute name="PrimeApellido" use="required" type="xs:string"/>
									<xs:attribute name="Nombre" use="required" type="xs:string"/>
									<xs:attribute name="Edad" use="required" type="xs:byte"/>
									<xs:attribute name="CURP" use="required" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
